<!DOCTYPE html>
<html>
<head>
  <title><%=: title | capitalize %></title>
  <link rel="stylesheet" href="/style.css" type="text/css">
</head>
<body>

<h1><%=: title | capitalize %></h1>

<% error.forEach(function (msg) { %>
<p class="error-message"><%= msg %></p>
<% }); %>

<% info.forEach(function (msg) { %>
<p class="info-message"><%= msg %></p>
<% }); %>

<%- body %>

<% if (title != 'index') { %>
<hr>
<p><a href="/">Back to main menu</a></p>
<% } %>

</body>
</html>
